.inbox {
  padding: 50px 15px;
  background-color: $color-bisque;

  @include for-large-up {
    display: flex;
    padding: 115px 99px 101px 193px;
  }

  &__ilustration {
    display: block;
    margin: auto;
    height: 348px;
    width: 290px;

    @include for-large-up {
      width: 425px;
      height: 510px;
      margin-top: 12px;
    }
  }
  &__column {
    margin-left: 190px;

    @include for-large-down {
      margin-left: 0;
    }
  }
  &__subtitle {
    margin-top: 32px;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-orange;

    @include for-large-up {
      margin-top: 0;
    }
  }
  &__title {
    margin: auto;
    margin-top: 17px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: $text-dark;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
  &__text {
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;
    color: $text-dark;
  }
  &__comment {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    height: 321px;
    background-color: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-bottom: 4px solid $border-color-blue;

    @include for-large-up {
      justify-content: space-between;
      width: 519px;
      height: 213px;
      padding: 30px 30px 28px;
    }

    &-text {
      margin: 0;
      font-size: 20px;
      line-height: 28px;
      color: $text-dark;

      &-bold {
        font-weight: 700;
      }
    }
  }
  &__user {
    margin-top: 28px;
    display: flex;

    @include for-large-up {
      margin-top: 0;
    }
    &-avatar {
      height: 40px;
      width: 40px;
    }
    &-info {
      margin-left: 11px;
    }
    &-name {
      margin: 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: $text-dark;
    }
    &-position {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      color: $text-color-light-grey;
    }
  }
}
