.tips {
  margin-top: 8px;

  @include for-large-up {
    display: none;
  }
}
.tip {
  padding: 81px 15px 0px 15px;

  &:first-child {
    padding: 40px 15px 0 15px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-green;
  }
  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }
  &__description {
    margin: 0;
    margin-top: 15px;
    font-size: 24px;
    line-height: 34px;
  }
  &__decoration {
    margin: 0;
  }
  &__image {
    margin-top: 29px;

    &-caption {
      margin-top: 19px;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #2c324114;
    }
  }
}
